
/* 注意，本题无需写样式清除 */
.container {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
  width: 300px;
  height: 70px;
  background: #FFFFFF;
  
  /*flex布局*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.icon{
	width: 25px;
	height: 37px;
	margin-left: 20px;
	background: url(images/icon.png) no-repeat center;
	background-size: contain;
}


.avatar{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: url(images/avatar.png) no-repeat center;
	background-size: contain;
}

.details{
	margin-right: 20px;
}

.nickname{
	margin-top: 2px;
	margin-bottom: 3px;
	font-size: 16px;
	font-weight: 500px;
	color: #646464;
	line-height: 22px;
}

.gift{
	font-size: 12px;
	font-weight: 400px;
	line-height: 18px;
	color: #808080;
}