body {
  margin: 0; /*去掉默认的样式*/
  font-family: Sans-serif;
  color: rgba(0, 0, 0, 0.84);
  font-size: 16px;
  padding: 30px;
}

img {
  width: 100%;
}

div{
	position: relative;
	font-size: 20px;
	color: yellow;
}

p{
	position: absolute;
	right: 10px;
	top: 10px;
}