html,
body {
  height: 100%;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* 浏览器都有自己的默认样式，以上部分为清除浏览器默认样式 */

.person-info {
  /* margin: 0 auto;可使内容在整个页面中水平居中 */
  margin: 0 auto;
  
  /*基本属性的设置*/
  width: 300px;
  /* height: 304px; */
  padding-top: 13px;
  padding-left: 20px;
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  
  /*布局*/
}

.header{
	padding-bottom: 13px;
	border-bottom: 1px #F2F2F5 solid;
}

.approve{
	height: 28px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.item{
	margin-right: 10px;
}

.blog{
	width: 90px;
	height: 28px;
	border-radius: 50px;
	background: #FDB73D;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vip{
	width: 14px;
	height: 12.25px;
	background: url(images/vip.png) no-repeat center;
	background-size: contain;
	margin-right: 4px;
}

.content{
	margin-right: 12px;
	height: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 12px;
	font-weight: 400px;
	color: #FFFFFF;
}

.split{
	height: 28px;
	width: 1px;
	background: #F2F2F5;
}

.flag{
	width: 16px;
	height: 14px;
	background: url(images/flag.png) no-repeat center;
	background-size: contain;
}

.panda{
	width: 16px;
	height: 14px;
	background: url(images/panda.png) no-repeat center;
	background-size: contain;
}


/*头部的brief部分*/
.brief{
	height: 17px;
	font-size: 12px;
	font-weight: 400px;
	color: #141414;
}


/*middle部分*/
.middle .tag{
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	
	/*下边框*/
	border-bottom: 1px #F2F2F5 solid;
}

.middle .tag .logo{
	width: 12px;
	height: 12px;
	margin-right: 7px;
}

/*图片的配置*/
.location{
	background: url(images/address.png) no-repeat center;
	background-size: contain;
}

.details{
	background: url(images/file.png) no-repeat center;
	background-size: contain;
}

.address{
	background: url(images/link.png) no-repeat center;
	background-size: contain;
}

.label{
	background: url(images/tag.png) no-repeat center;
	background-size: contain;
}


/*文字的样式设置*/
.desc{
	font-size: 12px;
	font-weight: 400px;
	line-height: 17px;
}

.middle .tag >a{
	font-size: 12px;
	font-weight: 400px;
	color: #F7691D;
	
	margin-left: 3px;
}


/*footer部分*/
.footer {
	display: flex;
}

.footer .more{
	font-size: 12px;
	font-weight: 400px;
	color: #333333;
	
	margin-left: 122px;
	margin-right: 4px;
	
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer .right{
	width: 4px;
	height: 7px;
	margin-top: 14px;
	margin-bottom: 14px;
	background: url(images/arrow-right.png) no-repeat center;
	background-size: contain;
}