html,
body {
  height: 100%;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* 浏览器都有自己的默认样式，以上部分为清除浏览器默认样式 */
.container{
	width: 160px;
	height: 215px;
	background: url(images/bg-image.png) no-repeat center;
	background-size: contain;
}

.header{
	width: 160px;
	padding-top: 10px;
	padding-left: 8px;
	
	/*flex布局，换行*/
	display: flex;
	flex-wrap: wrap;
	
	text-align: center;
}

.item{
	height: 15px;
	font-size: 11px;
	font-weight: 400px;
	color: #FFFFFF;
	line-height: 15px;
	
	border: 0.5px #FFFFFF solid;
	border-radius: 10px;
	
	margin-right: 4px;
	margin-bottom: 5px;
}

.one{
	width: 37px;
}

.two{
	width: 48px;
}

.three{
	width: 37px;
}

.four{
	width: 48px;
}


ul{
	position: relative;
	top: 80px;
	left: 15px;

}

.name{
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 22px;
	
	margin-bottom: 5px;
}

.desc{
	font-size: 12px;
	font-weight: 400px;
	color: rgba(255,255,255,0.6);
	line-height: 17px;
	
	margin-top: 2px;
}