ul,
li {
  /* 去除li标签前的小圆点 */
  list-style: none;
  /* 清除标签默认的内边距 */
  padding: 0;
}

h3{
  font-size: 14px;
  color: #000000;
  font-weight: 100px;
}


ul li{
  font-size: 14px;
  color: #000000;
}

span{
  color: #999999;
}